.page
  header.header
    .header__container
      h1.header__container__title Craze
      h2.header__container__subtitle A great new free psd theme to showcase your new app.
      ul.header__container__list
        li.header__container__list__item
          a(href="https://arctouch.com/portfolio/" target="_BLANK" title="Check out apps for IOS")
            img(src="../img/icons/system/apple.png" alt="Apple icon")
        li.header__container__list__item
          a(href="https://arctouch.com/portfolio/" target="_BLANK" title="Check out apps for Android")
            img(src="../img/icons/system/android.png" alt="Android icon")
        li.header__container__list__item
          a(href="https://arctouch.com/portfolio/" target="_BLANK" title="Check out apps for Windows phone")
            img(src="../img/icons/system/windows.png" alt="Windows phone icon")

  main.main
    section.features
      header.features__header
        h3.features__header__title Craze Features
        p.features__header__description Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi. Est habemus maiestatis ut. Vim quod elitr interesset ea. 
      - 
        var featureObj = [{
          icon: 'screen.png',
          title: 'Flat Design',
        },
        {
          icon: 'target.png',
          title: 'Marketable',
        },
        {
          icon: 'picture.png',
          title: 'Edit Photos',
        },
        {
          icon: 'colors.png',
          title: 'Edit Colors',
        },
        {
          icon: 'user.png',
          title: 'User Friendly',
        },
        {
          icon: 'settings.png',
          title: '100% Editable',
        }];
      ul.features__list
        -for(var x=0; x<featureObj.length; x++)
          li.features__list__item
            img(src="../img/icons/ui/"+featureObj[x].icon alt="Screen icon")
            h4.features__list__item__title #{featureObj[x].title}
            p.features__list__item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.

    section.about
      .about__container
        .about__container__explanation
          h3.about__container__explanation__title Whats Craze all About?
          p.about__container__explanation__paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris.
          p.about__container__explanation__paragraph Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
          ul.about__container__explanation__list
            li.about__container__explanation__list__item #[img(src="../img/icons/bullet.png" alt="Bullet icon")] Lorem ipsum dolor sit amet
            li.about__container__explanation__list__item #[img(src="../img/icons/bullet.png" alt="Bullet icon")] Lorem ipsum dolor sit amet consectetur elt
        .about__container__video
          iframe(src="https://player.vimeo.com/video/20385982?title=0&byline=0&portrait=0" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
          
    section.feedback
      .feedback__carousel
        .feedback__carousel__container
          - 
            var feedbackObj = [{
              comment: '"We can only see a short distance ahead, but we can see plenty there that needs to be done."',
              author: 'Alan Turing',
            },
            {
              comment: '"The time is always right to do what is right."',
              author: 'Martin Luther King Jr',
            },
            {
              comment: '"I remember my mother\'s prayers and they have always followed me. They have clung to me all my life."',
              author: 'Abraham Lincoln',
            },
            {
              comment: '"Try not. Do, or do not. There is no try."',
              author: 'Yoda, The Empire Strikes Back',
            }];
          ul.feedback__carousel__container__list
            -for(var x=0;x<feedbackObj.length;x++)
              -var active = x == 0 ? 'active':''
              li.feedback__carousel__container__list__item(class=active)
                h4.feedback__carousel__container__list__item__comment #{feedbackObj[x].comment}
                p.feedback__carousel__container__list__item__author #{feedbackObj[x].author}
          ul.feedback__carousel__container__dots
            -for(var i=0;i<feedbackObj.length;i++)
              -var active = i == 0 ? 'active':''
              li.feedback__carousel__container__dots__dot(data-index=i class=active)

    section.plans
      .plans__container
        header.plans__container__header
          h3.plans__container__header__title Pricing Plans
          p.plans__container__header__description Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi. Est habemus maiestatis ut. Vim quod elitr interesset ea.
          - 
            var plansObj = [{
              plan: 'Basic',
              price: '$19',
              cents: '99',
            },
            {
              plan: 'Standard',
              price: '$39',
              cents: '99',
            },
            {
              plan: 'Deluxe',
              price: '$59',
              cents: '99',
            },
            {
              plan: 'Unlimited',
              price: '$79',
              cents: '99',
            }];
            
        ul.plans__container__list
          -for(var x=0; x<plansObj.length; x++)
            li.plans__container__list__item
              h4.plans__container__list__item__title #{plansObj[x].plan}
              p.plans__container__list__item__price #{plansObj[x].price}#[span #{plansObj[x].cents}]
              ul.plans__container__list__item__features
                -for(var i=1; i<=5; i++)
                  li.plans__container__list__item__features__item Feature #{i}
                -if(x==2)
                  li.plans__container__list__item__features__item Feature 6
              .plans__container__list__item__purchase
                a.plans__container__list__item__purchase__button(href="https://arctouch.com/contact/" target="_BLANK" title="Purchase") Purchase

    section.contact
      h3.contact__title Say Hi & Get in Touch
      p.contact__description Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. 
      ul.contact__social
        - 
          var socialObj = [{
            icon: 'twitter.png',
            name: 'Twitter',
          },
          {
            icon: 'facebook.png',
            name: 'Facebook',
          },
          {
            icon: 'pinterest.png',
            name: 'Pinterest',
          },
          {
            icon: 'gplus.png',
            name: 'Google plus',
          },
          {
            icon: 'linkedin.png',
            name: 'LinkedIn',
          },
          {
            icon: 'youtube.png',
            name: 'Youtube',
          }];
        -for(var x=0; x<socialObj.length; x++)
          li.contact__social__item
            a(href="https://arctouch.com/portfolio/" target="_BLANK" title=socialObj[x].name)
              img(src="../img/icons/social/"+socialObj[x].icon alt=socialObj[x].name)
            
  footer.footer
    -var menu = ["Contact","Download","Press","Email","Support","Privacy Policy"];
    nav.footer__nav
      ul.footer__nav__list
        -for(var x=0; x<menu.length; x++)
          li.footer__nav__list__item
            a(href="https://arctouch.com/" target="_BLANK" title=menu[x]) #{menu[x]}